@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Nothing+You+Could+Do&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

#keyboard {
    height: 900px;
    width: 100%;
}

body {
    background-color: rgba(133, 113, 83, 0.618);
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: right;
    list-style: none;
    height: 55px;
    padding: 0px;
    margin: 0px;
}

.navbar ul:hover {  
   
    transition: background-color 0.5s ease-in-out;
}

.social-icons {
    height: 50px;
    display: flex;
    flex-direction: center;
}

.social-icons:hover {
    transition: background-color 0.5s ease-in-out;
   
}



h1 {
    text-align: center;
    font-size: 86px;
    color: rgb(0, 0, 0);
    margin: 0px 20px;
    font-family: 'playfair', 'Times New Roman', Times, serif;
}


.portrait {
    height: 300px;
    float: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
}

article {
    display: flex;
    font-size: 30px;
    align-content:flex-start;
    text-align: justify;
    border-radius: 10px;
    margin: 0px 20px;
    color: rgb(0, 0, 0);
    font-family: 'playfair', 'Times New Roman', Times, serif;
}

.languages {
    margin-top: 40px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10px;
    list-style: none;
}

.languages2 {
    margin-top: 60px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10px;
    list-style: none;
}
h2 {
    margin-top: 200px;
    text-align: center;
    font-size: 36px;
}
